# ignore data lake contents
data/bronze/*
data/silver/*
data/gold/*

# keep folders
!data/bronze/
!data/silver/
!data/gold/


# python
__pycache__/
*.py[cod]
*.so

# virtual environments
.env
.venv
env/
venv/
conda-meta/

# logs
*.log

# jupyter
.ipynb_checkpoints/

# ide
.vscode/
.idea/

# secrets
.env.*
secrets.yml
credentials.json
*.pem
*.key

# os
.DS_Store
Thumbs.db
